body {
    font-family: 'Montserrat-light', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: cursive;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: fff;
    text-align: left;
}

.fonts {
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    padding: 0 15% 7%;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    padding-top: 1.5rem;
}

.navbar-brand {
    font-size: xx-large;
}

.col-lg-6 {
    padding-left: 1rem;
}

.nav-item {
    padding-bottom: 3rem;
    padding-top: 2.5rem;
    padding-left: 3rem;
    font-family: 'ubuntu', sans-serif;
}

.button {
    margin: 3% 4% 0% 0%;
}

.title-image {
    transform: rotate(25deg);
    position: absolute;
    top: 11rem;
    left: 54%;
    width: 20%;
}

#features {
    padding: 15% 15%;
    background-color: #fff;
    position: relative;
}

@media(max-width:991.7px) {
    .title-image {
        position: static;
        width: 40%;
        transform: rotate(0);
        padding-top: 3rem;
    }

    #features {
        padding: 15% 15%;
        text-align: center;
    }

    .align {
        text-align: center;
        padding-top: 2rem;
    }

    #title {
        padding-top: 2rem;
    }

    .button {
        margin: 2% 5% 0;
        font-size: large;
    }
}

.features-col {
    padding-bottom: 2rem;
    color: #f57386;
}

.features-col:hover {
    color: #ff4c68;
}

/*testimonial section*/
#testimonials {
    background-color: rgb(241, 106, 106);
    line-height: 2rem;
    color: aliceblue;
    padding-bottom: 5%;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 25%;
    border-radius: 100%;
    margin: 3rem;
}

/*press section*/
#press {
    background-color: rgb(241, 106, 106);
    padding-bottom: 2%;
}

.press-images {
    width: 14%;
    margin: 50px 20px 100px;
}

/* pricing*/
#pricing {
    margin: 5% 5%;
}

.card {
    margin: 2rem 2rem;
}

.pricing-btn {
    width: 90%;
}

/* cta section */
#cta {
    background-color: #ff4c68;
    padding: 7% 15% 3%;
    color: #fff;
    line-height: 3rem;
}

#cta-h3 {
    font-size: xxx-large;
}
 
#footer {
    padding-bottom: 3%;
}

.footer-padding {
    padding: 2%;
    padding-top: 5%;
}